body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#ececec;  /*min-width: 1024px;max-width:1920px;*/}
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { text-decoration:none; }
a:hover,img:hover,button:hover { text-decoration:none; cursor:pointer;}
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button,select { font:14px Verdana,Helvetica,Arial,sans-serif;outline: none;border:none;}
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
*{font-family:'微软雅黑'!important;}
.fl{float:left!important;}
.fr{float:right!important;}
.none{display:none;}